
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3,
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    /* margin: 0 20%; */
}

nav {
    background-color: beige;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
    padding: 0.5rem 1.5rem;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 60%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

#list {
    display: flex;
    flex-wrap: wrap;
       justify-content: space-around;
}
.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
    text-align: center;

}

table {
    border: 3px solid black;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
}


/* About */
.locations{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.locations li {
    border: 1px solid grey;
    padding: 1rem 3rem;
    margin: 1rem 4rem;
}


/* Menu */

table{
    width: 60%;
    margin: auto;
}
/* @media screen and (max-width: 1200){
#list {
 justify-content: space-around;
} */

h2{
    padding: 1.5rem;
}


p {
    margin: 1rem;
}
header{
    background-color: black;
  margin-top: 0;
}

header p{
    color: white;
}

footer{
    width: 100%;
    background-color: pink;
    margin-bottom: 0;
    margin-top: 5rem;
    position: relative;
}
